/*
	Copyight: Solutions Nitriques 2011
	License: MIT, see the LICENCE file
*/

/**
 * CSS for the blueprintsection driver
 *
 * @author nicolas
 */

.field-oembed .frame {
	margin: var(--standard-inner-rhythm);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--standard-inner-rhythm);
	border: 1px dashed var(--color-ui);
}

.field-oembed input.irrelevant~.frame {
	margin-top: calc(var(--compensate-for-inner-field-label) + var(--standard-inner-rhythm));
}

.field-oembed .frame>*+* {
	margin-top: var(--standard-inner-rhythm);
}
.field-oembed .frame>div {
	display: flex;
	align-items: baseline;
}
.field-oembed:not(:hover) .frame>div {
	opacity: 0;
}

.field-oembed .frame>div>*+* {
	margin-left: var(--spacing-micro);
}